.product_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

@media screen and (max-width: 1630px) { 
    .product_container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1300px) { 
    .product_container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 990px) { 
    .product_card{
        width: 150px !important;
        height: 300px !important;
    }

    .product_card_image{
        max-height: 100px !important;
    }
}

@media screen and (max-width: 600px) { 
    .product_card{
        width: 125px !important;
        height: 210px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .product_card_image{
        max-height: 75px !important;
    }

    .product_card h1{
        font-size: 15px !important;
    }

    .product_card p{
        font-size: 13px !important;
    }

    .product_card_title{
        height: 40px !important;
    }

    .product_card_preis{
        height: 15px !important;
    }

    .product_card_stichwörter{
        height: 40px !important;
    }
}

@media screen and (max-width: 500px) {
    .product_container {
        grid-template-columns: 1fr 1fr;
    }
}

.full_width_button {
    width: 100%;
}

.curser_pointer{
    cursor: pointer;
}

.form_card{
    width: 350px;
    margin-top: 100px;
}

@media screen and (max-width: 450px) { 
    .form_card{
        width: 250px;
    }
}

.product_creation{
    display: block;
}

.product_creation_resposive{
    display: none;
}

.warenkorb{
    display: block;
}

.warenkorb_responsive{
    display: none;
}

.product_site{
    display: block;
}

.product_site_responsive{
    display: none !important;
}

@media screen and (max-width: 650px) {
    .product_site{
        display: none !important	;
    }

    .product_site_responsive{
        display: block !important;
    }
}

@media screen and (max-width: 850px){
    .product_creation{
        display: none !important;
    }

    .product_creation_resposive{
        display: block !important;
    }

    .warenkorb{
        display: none !important;
    }
    
    .warenkorb_responsive{
        display: block !important;
    }
}