.product_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

@media screen and (max-width: 1630px) { 
    .product_container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1300px) { 
    .product_container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 990px) { 
    .product_container {
        grid-template-columns: 1fr 1fr;
    }
}

.full_width-_button {
    width: 100%;
  }